<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uploaded File</title>
</head>
<body>
    <div class="center">

        {% if landmark %}
            <h1>Landmark</h1>
            <hr>
            <h3>{{ landmark }}</h3>
            <a href="{{ link }}">{{ landmark }}</a>
        {% else %}
            <h1>Something went wrong</h1>
        {% endif %}
    </div>
    <br>
    <br>
    <div class="center">
        {% if summary %}
            <h1>About</h1>
            <hr>
            <h3>{{ summary }}</h3>
        {% else %}
            <h1>Something went wrong</h1>
        {% endif %}
    </div>

    <div class="center">
        {% if link %}
            <h1>Link</h1>
            <hr>
            <a href="{{ link }}">AR Model Link</a>
        {% else %}
            <h1>Something went wrong</h1>
        {% endif %}
    </div>

</body>
</html>